/Dataset
/sample_audio
/hasil_gambar
/hasil_perbandingan
/sample_dataset
/GENDER_DETECTION/Dataset
/GENDER_DETECTION/hasil_prediksi
/hasil_testing
/Dataset_Alt
/hasil_template_mfcc
/new_hasil_banding
/new_hasil_template_mfcc
/hasil_testing_template
/new_hasil_gambar
/KLASIFIKASI
/fix_hasil_template_mfcc
/fix_hasil_testing
/Dataset_MFCC_noprem
/Dataset_MFCC_97prem
/Dataset_MFCC_95prem
/Dataset_MFCC